# Variables de entorno para la aplicación

# Puerto para el servidor
PORT=3000

# URL de conexión a MongoDB Atlas
MONGODB_URI=mongodb+srv://<usuario>:<contraseña>@<cluster>.mongodb.net/<base-de-datos>

# Secreto para JWT
JWT_SECRET=tu_secreto_jwt

# Entorno de ejecución
NODE_ENV=development